# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*$py.class

# Ignore all .DS_Store
.DS_Store

# Ignore .pytest_cache for Python testing
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.idea/
*.swp
*.swo
*.swn

# Custom directories to ignore
/logs/
rtpenv/
checkpoint/
